body {
    font-family: "Lato", sans-serif;
    background-color: rgb(142, 138, 125);
  }
  
  .sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #00ff84;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #ffff00;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: rgb(255, 234, 0);
    padding: 10px 15px;
    border: 25%;
    border-radius: 25%;

  }
  
  .openbtn:hover {
    background-color: rgb(129, 116, 91);
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
   
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  form {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    
  }
  
  label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  @media (max-width: 600px) {
    form {
      width: 100%;
    }
  }
    
  h2 {
    text-align: center; /* Center the text within the heading */
  }